# Database Connection
DATABASE_URL="postgresql://db_user:db_password@localhost:5432/realestate_db?schema=public"

# SMTP Mail Configuration
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_pass"
SMTP_FROM_EMAIL="noreply@luxerealestate.com"
